.overlay {
    height: 100vh;
    width: 100%;
}

.image {
    position: absolute;
    z-index: 0;
    background-size: cover;
    transition: transform 500ms ease;
}

.container {
    top: 20vh;
    width: 90%;
    height: 100%;
    background-color: var(--mantine-color-dark-8);
    margin: -31.5rem auto 0;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.actionButton:hover {
    cursor: pointer;
}

.titleLink {
    text-decoration: none;
    color: var(--mantine-color-gray-1);
}

.titleLink:hover {
    color: var(--mantine-color-blue-4);
    text-decoration: underline;
}

.title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.title:hover {
    color: var(--mantine-color-blue-7);
}