.tab {
    position: relative;
    width: 100%;
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));

    border-radius: 0;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
    }

    &[data-active] {
        z-index: 1;
        background-color: var(--mantine-color-blue-filled);
        border-color: var(--mantine-color-blue-filled);
        color: var(--mantine-color-white);

        @mixin hover {
            background-color: var(--mantine-color-blue-filled-hover);
        }
    }
}

.firstTab {
    border-top-left-radius: var(--mantine-radius-md);
    border-bottom-left-radius: var(--mantine-radius-md);

    @media (min-width: 750px) {
        border-top-left-radius: var(--mantine-radius-md);
        border-top-right-radius: var(--mantine-radius-md);
        border-bottom-left-radius: 0;
    }
}

.lastTab {
    border-top-right-radius: var(--mantine-radius-md);
    border-bottom-right-radius: var(--mantine-radius-md);

    @media (min-width: 750px) {
        border-bottom-left-radius: var(--mantine-radius-md);
        border-bottom-right-radius: var(--mantine-radius-md);
        border-top-right-radius: 0;
    }
}
